## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://forms.gle/EDdU2Zfq8zLvDea18]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [6]:
## 輸入資料
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
      164, 173, 165, 163, 177, 171]
girls=[169, 183, 170, 168, 182, 170, 173, 185, 151, 156, 162, 169, 162, 181,
       159, 154, 167, 175, 170, 160]

height = pd.DataFrame([boys,girls]).T
height.columns = ['boys', 'girls']
print(height)

    boys  girls
0    164    169
1    176    183
2    169    170
3    169    168
4    165    182
5    175    170
6    159    173
7    151    185
8    144    151
9    160    156
10   183    162
11   165    169
12   156    162
13   170    181
14   164    159
15   173    154
16   165    167
17   163    175
18   177    170
19   171    160

In [7]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
height.describe()

             boys       girls
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [8]:
#眾數
height.mode()

   boys  girls
0   165    170

In [9]:
#全距
a1 = max(boys)-min(boys)
a2 = max(girls)-min(girls)
print(a1, a2)

39 34

In [10]:
# 偏度
height.skew()

boys    -0.51043
girls    0.06482
dtype: float64

In [11]:
# 峰度
height.kurtosis()

boys     0.625456
girls   -0.697137
dtype: float64

In [13]:
# 變異數
height.var()

boys     84.892105
girls    95.378947
dtype: float64

In [17]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
height.mean().idxmax()

'girls'

In [5]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
'''
不一定，樣本太少
'''

'\n你的答案\n'